<article>
    <div class="flex flex-col p-6 rounded-md sm:p-10 pt-20 bg-gray-50 text-gray-800">
        <div class="mb-8 text-center">
            <h1 class="my-3 text-4xl font-bold">
                Forgot Password?
            </h1>
            <p class="text-sm text-gray-600">
                Don't worry, these things happen!
            </p>
        </div>
        <div *ngIf="hasSent">
            <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center justify-center w-12 bg-emerald-500">
                    <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"/>
                    </svg>
                </div>
                
                <div class="px-4 py-2 -mx-3">
                    <div class="mx-3">
                        <span class="font-semibold text-emerald-500 dark:text-emerald-400">
                            Reset link sent
                        </span>
                        <p class="text-sm text-gray-600 dark:text-gray-200">
                            Please check your email for a link to reset your password.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!hasSent">
            <div class="max-w-md relative mx-auto pt-5">
                <div class="space-y-12 ng-untouched ng-pristine ng-valid">
                    <div class="space-y-4">
                        <div>
                            <label for="user-email" class="block mb-2 text-sm">
                                Email address
                            </label>
                            <input type="email" name="email" id="email" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800" #email>
                        </div>
                    </div>
                    <div class="space-y-2">
                        <div>
                            <button (click)="sendEmail(email.value);" class="w-full px-8 py-3 font-semibold rounded-md bg-blue-600 hover:bg-blue-700 text-gray-50">
                                Reset Password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>