<article>
    <div class="flex flex-col p-6 rounded-md sm:p-10 pt-20 bg-gray-50 text-gray-800">
        <div class="mb-8 text-center">
            <h1 class="my-3 text-4xl font-bold">
                Reset Password.
            </h1>
            <p class="text-sm text-gray-600">
                Set your new password to something secure!
            </p>
        </div>
        <div *ngIf="errorMismatch">
            <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center justify-center w-12 bg-red-500">
                    <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 3.36667C10.8167 3.36667 3.3667 10.8167 3.3667 20C3.3667 29.1833 10.8167 36.6333 20 36.6333C29.1834 36.6333 36.6334 29.1833 36.6334 20C36.6334 10.8167 29.1834 3.36667 20 3.36667ZM19.1334 33.3333V22.9H13.3334L21.6667 6.66667V17.1H27.25L19.1334 33.3333Z"/>
                    </svg>
                </div>
                
                <div class="px-4 py-2 -mx-3">
                    <div class="mx-3">
                        <span class="font-semibold text-red-500 dark:text-red-400">
                            Error
                        </span>
                        <p class="text-sm text-gray-600 dark:text-gray-200">
                            Passwords do not match.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="codeAccepted">
            <div class="max-w-md relative mx-auto pt-5">
                <div class="space-y-12 ng-untouched ng-pristine ng-valid">
                    <div class="space-y-4">
                        <div>
                            <label for="user-pass" class="block mb-2 text-sm">
                                New Password
                            </label>
                            <input type="password" name="password" id="user-pass" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800" #password>
                        </div>
                    </div>
                    <div class="space-y-4">
                        <div>
                            <label for="user-pass-repeat" class="block mb-2 text-sm">
                                Repeat Password
                            </label>
                            <input type="password" name="password-repeat" id="user-pass-repeat" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800" #passwordRepeat>
                        </div>
                    </div>
                    <div class="space-y-2">
                        <div>
                            <button (click)="resetPass(password.value, passwordRepeat.value);" class="w-full px-8 py-3 font-semibold rounded-md bg-blue-600 hover:bg-blue-700 text-gray-50">
                                Reset Password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>