<a routerLink="/home" routerLinkActive="is-active" class="hover:text-gray-900 font-bold md:font-normal">Home</a>
<a routerLink="/products" routerLinkActive="is-active" class="hover:text-gray-900 font-bold md:font-normal">Products</a>
<a routerLink="/services" routerLinkActive="is-active" class="hover:text-gray-900 font-bold md:font-normal">Services</a>

<span class="hidden lg:inline">
    &nbsp; | &nbsp;
</span>

<a routerLink="/companies" routerLinkActive="is-active" class="hover:text-gray-900 font-bold md:font-normal">Companies</a>