<article>
    <div class="pt-32 pb-20 md:pt-20">
        <div class="container m-auto px-6 md:px-12 lg:px-6">
            <div class="lg:flex lg:items-center lg:gap-x-16">
                <div class="space-y-8 lg:w-7/12">
                    <h1 class="font-bold text-gray-900 text-5xl md:text-4xl">
                        Make this place, your home-base.
                    </h1>
                    <p class="text-gray-600 lg:w-11/12">
                        The Blazed Space platform allows software publishers to share released software with their users.
                    </p>

                    <div>
                        <svg class="inline-flex mr-1 mb-1" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.57 8.033H7.25C7.22 6.147 8.68 5.5 10.006 5.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H9.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" clip-rule="evenodd"/>
                        </svg>
                        <span>
                            Learn More:
                        </span> 
                        &nbsp;
                        <a href="/about" class="inline-flex font-semibold text-gray-700 hover:underline">
                            About Us
                        </a>
                        &nbsp; | &nbsp;
                        <a href="/explore" class="inline-flex font-semibold text-gray-700 hover:underline">
                            Explore
                        </a>
                    </div>
                </div>

                <div hidden class="lg:block lg:w-5/12">
                    <img src="https://blazed.sirv.com/logo/Lockscreen-Beaker.png?w=700&h=700" class="w-full rounded-md" width="320" height="280">
                </div>
            </div>
        </div>
    </div>

    <div class="p-6 py-12 bg-blue-600 text-gray-50">
        <div class="container mx-auto">
            <div class="flex flex-col lg:flex-row items-center justify-between">
                <h2 class="text-center text-6xl tracking-tighter font-bold">
                    Like Blazed Labs?
                </h2>
                <div class="space-x-2 text-center py-2 lg:py-0">
                    <span>
                        Check out our other websites!
                    </span>
                </div>
                <a href="https://www.blz.one/products" target="_blank" rel="noreferrer noopener" class="px-5 mt-4 lg:mt-0 py-3 rounded-md border block bg-gray-900 hover:bg-blue-900 text-gray-50 border-blue-600">
                    Discover
                </a>
            </div>
        </div>
    </div>
</article>