<article>
    <div class="p-4 rounded-md text-center shadow sm:p-8 mt-20 bg-white text-gray-800 register-box">
        <h2 class="mb-3 text-3xl font-semibold text-center">
            Join Blazed Space
        </h2>
        <p class="text-sm text-center text-gray-600">Already have an account?
            <a href="/login" rel="noopener noreferrer" class="focus:underline hover:underline">Login here</a>
        </p>
        <div class="max-w-md relative mx-auto text-center">

            <form method="post" action="#" class="space-y-8 ng-untouched ng-pristine ng-valid mt-20">
                <div class="space-y-4">
                    <div class="space-y-2">
                        <label for="email" class="block text-sm">Email address</label>
                        <input type="email" name="email" id="email" placeholder="name@example.com" required class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 focus:border-blue-600">
                    </div>
                    <div class="space-y-2">
                        <label for="password" class="text-sm">Password</label>
                        <input type="password" name="password" id="password" placeholder="Choose a secure password" required class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 focus:border-blue-600">
                    </div>
                    <div class="space-y-2">
                        <label for="password-repeat" class="text-sm">Repeat Password</label>
                        <input type="password" name="password-repeat" id="password-repeat" placeholder="Repeat password" required class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 focus:border-blue-600">
                    </div>
                </div>
                <div>
                    <label for="agree" class="inline-flex items-center space-x-4 cursor-pointer text-gray-800">
                        <span class="relative">
                            <input id="agree" type="checkbox" name="agree" class="hidden peer" value="1" required (change)="fieldsChange($event)">
                            <div class="w-10 h-6 rounded-full shadow-inner bg-gray-600 peer-checked:bg-blue-600"></div>
                            <div class="absolute inset-y-0 left-0 w-4 h-4 m-1 rounded-full shadow peer-checked:right-0 peer-checked:left-auto bg-gray-100"></div>
                        </span>
                        <span>I agree to the <a target="_blank" class="text-blue-700 hover:underline" href="https://blazed.sbs/assets/pdf/tos.pdf">Terms of Service</a> and <a target="_blank" class="text-blue-700 hover:underline" href="https://www.blazedlabs.com/privacy/">Privacy Policy</a></span>
                    </label>
                </div>
                <ng-container *ngIf="isChecked; then submitButton; else disabledButton"></ng-container>
                <ng-template #disabledButton>
                    <button type="button" disabled class="w-full px-8 py-3 font-semibold rounded-md bg-gray-400 text-black opacity-75">
                        Register
                    </button>
                </ng-template>
                <ng-template #submitButton>
                    <button type="submit" class="w-full px-8 py-3 font-semibold rounded-md bg-blue-600 hover:bg-blue-700 text-gray-50">
                        Register
                    </button>
                </ng-template>
            </form>

            <div class="flex items-center w-full my-4 pt-10 pb-10">
                <hr class="w-full text-gray-600">
                <p class="px-3 text-gray-600">OR</p>
                <hr class="w-full text-gray-600">
            </div>

            <div class="my-6 space-y-4">
                <button aria-label="Register with Google" type="button" class="flex items-center justify-center w-full p-4 space-x-4 border rounded-md focus:ring-2 focus:ring-offset-1 border-gray-600 focus:ring-blue-600 hover:bg-gray-900 hover:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-5 h-5 fill-current">
                        <path d="M16.318 13.714v5.484h9.078c-0.37 2.354-2.745 6.901-9.078 6.901-5.458 0-9.917-4.521-9.917-10.099s4.458-10.099 9.917-10.099c3.109 0 5.193 1.318 6.38 2.464l4.339-4.182c-2.786-2.599-6.396-4.182-10.719-4.182-8.844 0-16 7.151-16 16s7.156 16 16 16c9.234 0 15.365-6.49 15.365-15.635 0-1.052-0.115-1.854-0.255-2.651z"></path>
                    </svg>
                    <p>Register with Google</p>
                </button>
                <button aria-label="Register with Twitter" role="button" class="flex items-center justify-center w-full p-4 space-x-4 border rounded-md focus:ring-2 focus:ring-offset-1 border-gray-600 focus:ring-blue-600 hover:bg-gray-900 hover:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-5 h-5 fill-current">
                        <path d="M31.937 6.093c-1.177 0.516-2.437 0.871-3.765 1.032 1.355-0.813 2.391-2.099 2.885-3.631-1.271 0.74-2.677 1.276-4.172 1.579-1.192-1.276-2.896-2.079-4.787-2.079-3.625 0-6.563 2.937-6.563 6.557 0 0.521 0.063 1.021 0.172 1.495-5.453-0.255-10.287-2.875-13.52-6.833-0.568 0.964-0.891 2.084-0.891 3.303 0 2.281 1.161 4.281 2.916 5.457-1.073-0.031-2.083-0.328-2.968-0.817v0.079c0 3.181 2.26 5.833 5.26 6.437-0.547 0.145-1.131 0.229-1.724 0.229-0.421 0-0.823-0.041-1.224-0.115 0.844 2.604 3.26 4.5 6.14 4.557-2.239 1.755-5.077 2.801-8.135 2.801-0.521 0-1.041-0.025-1.563-0.088 2.917 1.86 6.36 2.948 10.079 2.948 12.067 0 18.661-9.995 18.661-18.651 0-0.276 0-0.557-0.021-0.839 1.287-0.917 2.401-2.079 3.281-3.396z"></path>
                    </svg>
                    <p>Register with Twitter</p>
                </button>
                <button aria-label="Register with Facebook" role="button" class="flex items-center justify-center w-full p-4 space-x-4 border rounded-md focus:ring-2 focus:ring-offset-1 border-gray-600 focus:ring-blue-600 hover:bg-gray-900 hover:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32" class="w-5 h-5 fill-current">
                        <path d="M32 16c0-8.839-7.167-16-16-16-8.839 0-16 7.161-16 16 0 7.984 5.849 14.604 13.5 15.803v-11.177h-4.063v-4.625h4.063v-3.527c0-4.009 2.385-6.223 6.041-6.223 1.751 0 3.584 0.312 3.584 0.312v3.937h-2.021c-1.984 0-2.604 1.235-2.604 2.5v3h4.437l-0.713 4.625h-3.724v11.177c7.645-1.199 13.5-7.819 13.5-15.803z"></path>
                    </svg>
                    <p>Register with Facebook</p>
                </button>
            </div>
        </div>
    </div>
</article>